## Data cleaning

### improts

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

RAW_PATH = Path(r"C:\Users\mzouicha\OneDrive - Amadeus Workplace\Desktop\STAGE\raop-pizza\data\raw\dataset.json")

In [3]:
df = pd.read_json(RAW_PATH, orient="records")
print(df.shape)
df.head(3)

(4040, 32)

,giver_username_if_known,number_of_downvotes_of_request_at_retrieval,number_of_upvotes_of_request_at_retrieval,post_was_edited,request_id,request_number_of_comments_at_retrieval,request_text,request_text_edit_aware,request_title,requester_account_age_in_days_at_request,...,requester_received_pizza,requester_subreddits_at_request,requester_upvotes_minus_downvotes_at_request,requester_upvotes_minus_downvotes_at_retrieval,requester_upvotes_plus_downvotes_at_request,requester_upvotes_plus_downvotes_at_retrieval,requester_user_flair,requester_username,unix_timestamp_of_request,unix_timestamp_of_request_utc
0,N/A,0,1,0,t3_l25d7,0,Hi I am in need of food for my 4 children we a...,Hi I am in need of food for my 4 children we a...,Request Colorado Springs Help Us Please,0.0000,...,False,[],0,1,0,1,None,nickylvst,1317852607,1317849007
1,N/A,2,5,0,t3_rcb83,0,I spent the last money I had on gas today. Im ...,I spent the last money I had on gas today. Im ...,"[Request] California, No cash and I could use ...",501.1111,...,False,"[AskReddit, Eve, IAmA, MontereyBay, RandomKind...",34,4258,116,11168,None,fohacidal,1332652424,1332648824
2,N/A,0,3,0,t3_lpu5j,0,My girlfriend decided it would be a good idea ...,My girlfriend decided it would be a good idea ...,"[Request] Hungry couple in Dundee, Scotland wo...",0.0000,...,False,[],0,3,0,3,None,jacquibatman7,1319650094,1319646494

In [5]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4040 entries, 0 to 4039
Data columns (total 32 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   giver_username_if_known                               4040 non-null   object
 1   number_of_downvotes_of_request_at_retrieval           4040 non-null   int64
 2   number_of_upvotes_of_request_at_retrieval             4040 non-null   int64
 3   post_was_edited                                       4040 non-null   int64
 4   request_id                                            4040 non-null   object
 5   request_number_of_comments_at_retrieval               4040 non-null   int64
 6   request_text                                          4040 non-null   object
 7   request_text_edit_aware                               4040 non-null   object
 8   request_title                                         4040 non-null   object
 9   requester_account_age_in_days_at_request              4040 non-null   float64
 10  requester_account_age_in_days_at_retrieval            4040 non-null   float64
 11  requester_days_since_first_post_on_raop_at_request    4040 non-null   float64
 12  requester_days_since_first_post_on_raop_at_retrieval  4040 non-null   float64
 13  requester_number_of_comments_at_request               4040 non-null   int64
 14  requester_number_of_comments_at_retrieval             4040 non-null   int64
 15  requester_number_of_comments_in_raop_at_request       4040 non-null   int64
 16  requester_number_of_comments_in_raop_at_retrieval     4040 non-null   int64
 17  requester_number_of_posts_at_request                  4040 non-null   int64
 18  requester_number_of_posts_at_retrieval                4040 non-null   int64
 19  requester_number_of_posts_on_raop_at_request          4040 non-null   int64
 20  requester_number_of_posts_on_raop_at_retrieval        4040 non-null   int64
 21  requester_number_of_subreddits_at_request             4040 non-null   int64
 22  requester_received_pizza                              4040 non-null   bool
 23  requester_subreddits_at_request                       4040 non-null   object
 24  requester_upvotes_minus_downvotes_at_request          4040 non-null   int64
 25  requester_upvotes_minus_downvotes_at_retrieval        4040 non-null   int64
 26  requester_upvotes_plus_downvotes_at_request           4040 non-null   int64
 27  requester_upvotes_plus_downvotes_at_retrieval         4040 non-null   int64
 28  requester_user_flair                                  994 non-null    object
 29  requester_username                                    4040 non-null   object
 30  unix_timestamp_of_request                             4040 non-null   int64
 31  unix_timestamp_of_request_utc                         4040 non-null   int64
dtypes: bool(1), float64(4), int64(19), object(8)
memory usage: 6.5 MB

In [7]:
num_cols = df.select_dtypes(include=["number"]).columns
df[num_cols].describe().T.head(10)

,count,mean,std,min,25%,50%,75%,max
number_of_downvotes_of_request_at_retrieval,4040.0,2.424505e+00,3.023101e+00,0.000000,1.000000,2.000000,3.000000,4.700000e+01
number_of_upvotes_of_request_at_retrieval,4040.0,6.180446e+00,1.074632e+01,0.000000,2.000000,4.000000,7.000000,3.450000e+02
post_was_edited,4040.0,1.005868e+08,3.558566e+08,0.000000,0.000000,0.000000,0.000000,1.380909e+09
request_number_of_comments_at_retrieval,4040.0,2.871040e+00,4.723339e+00,0.000000,0.000000,1.000000,4.000000,6.100000e+01
requester_account_age_in_days_at_request,4040.0,2.545866e+02,3.032757e+02,0.000000,3.473168,157.067170,390.092653,2.809751e+03
requester_account_age_in_days_at_retrieval,4040.0,7.576927e+02,3.330357e+02,45.291562,522.248455,753.270874,900.349838,2.879276e+03
requester_days_since_first_post_on_raop_at_request,4040.0,1.641703e+01,7.065143e+01,0.000000,0.000000,0.000000,0.000000,7.854577e+02
requester_days_since_first_post_on_raop_at_retrieval,4040.0,5.189932e+02,2.678726e+02,0.000000,279.009051,528.781939,776.226670,1.025408e+03
requester_number_of_comments_at_request,4040.0,1.150983e+02,1.933190e+02,0.000000,0.000000,24.000000,140.250000,9.940000e+02
requester_number_of_comments_at_retrieval,4040.0,2.894257e+02,3.574161e+02,0.000000,8.000000,114.000000,479.000000,1.000000e+03

In [8]:
bool_cols = df.select_dtypes(include=["bool"]).columns
cat_cols  = ["giver_username_if_known", "requester_user_flair"]
for col in list(bool_cols) + cat_cols:
    display(
        df[col].value_counts(dropna=False).to_frame("count").head(10)
    )

                          count
requester_received_pizza
False                      3046
True                        994

                         count
giver_username_if_known
N/A                       3753
jetboyterp                   5
johngalt1337                 4
m2nu                         4
mr_jeep                      4
thr                          4
pizzamom                     3
glinda_da_good_witch         3
leftnewdigg                  3
bgoodrbcareful               2

                      count
requester_user_flair
None                   3046
shroom                  935
PIF                      59

In [9]:
df["request_dt_utc"] = pd.to_datetime(
    df["unix_timestamp_of_request_utc"], unit="s", utc=True
)
df[["request_dt_utc"]].head()

             request_dt_utc
0 2011-10-05 21:10:07+00:00
1 2012-03-25 04:13:44+00:00
2 2011-10-26 16:28:14+00:00
3 2011-12-02 19:50:34+00:00
4 2013-07-12 18:34:51+00:00

In [10]:
from ydata_profiling import ProfileReport

profile = ProfileReport(df, title="RAOP Profiling", minimal=True)
profile.to_file(r"C:\Users\mzouicha\OneDrive - Amadeus Workplace\Desktop\STAGE\raop-pizza\notebooks\raop_profile.html")

c:\Users\mzouicha\OneDrive - Amadeus Workplace\Desktop\STAGE\raop-pizza\venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 33/33 [00:00<00:00, 64.91it/s]1<00:00, 14.68it/s, Describe variable: request_dt_utc]
Summarize dataset: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 39/39 [00:01<00:00, 31.56it/s, Completed]
Generate report structure: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:10<00:00, 10.07s/it]
Render HTML: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00,  1.11it/s]
Export report to file: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 49.97it/s]